.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  margin-top: 0.8rem;

  &__content {
  }

  &__logo {
    height: 3vh;
  }
}

.hero {
  text-align: center;

  &__container {
    padding: 3.5rem;
  }
  &__logo {
    width: 100%;
    margin-top: 3rem;
  }

  &__header {
    font-size: 3.4rem;
  }

  &__text {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: #8a8a8a;
  }

  &__button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 0.7rem;
    padding: 1.5rem;
    width: 15rem;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  padding: 1.5rem;

  &__img {
    width: 7rem;
  }
}
